.list-topics1 {
    justify-items: center;
}
.list-topics-content1 {
    position: relative;
    justify-items:end;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    margin: 80px;
    background-color: rgb(255, 213, 4);
    padding: 40px 8rem ;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.topper{
    font-size: 2rem;
    margin-bottom: 30px;
    color: red;
    background-color: azure;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.list-topics-content1 ul li{ 
    display: flex;
    flex-direction: column;
}

.single-list-topics-content1{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 110px;
    background:#fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    transition: all 0.2s ease;
}

.single-list-topics-content1:hover {
    box-shadow: 0 0px 20px rgba(71,71,71,.5);
    transform: scale(1.05);
}
.single-list-topics-content1 h2 {
    color: black;
}
.single-list-topics-content1 p {
    color: black;
}
.single-list-topics-icon1 {
    flex: 1;
    width: 100%;
    height: 100%;
    align-content: center;

} 
.single-list-topics-icon1 img {
    width: 50%;
    height: 50%;
}
.single-list-topics-text1 {
    flex: 2;
    width: 100%;
    height: 100%;
    align-content: center;
    /* margin: 5px; */
}
.list-cards {
    flex: 1.5;
    width: 100%;
    height: 100%;
}
.list-image {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 6rem 0;
}

.list-image img {
    object-fit:cover;
    width: 100%;
    height: 500px;

    /* height: 50%; */
}


@media only screen and (max-width: 1440px) {
    .list-topics-content1 {
        padding: 40px 6rem;
        margin: 60px;
    }
    .single-list-topics-content1 {
        width: 90%;
        height: 150px;
    }
    .single-list-topics-icon1 img {
        width: 55%;
        height: 55%;
    }
    .list-image img {
        object-fit: cover;
        width: 100%;
        height: 40rem;
    }
}

@media only screen and (max-width: 1024px) {
    .list-topics-content1 {
        padding: 40px 4rem;
        margin: 40px;
    }
    .single-list-topics-content1 {
        width: 100%;

    }
    .single-list-topics-icon1 img {
        width: 50%;
        height: 50%;
    }
}

@media only screen and (max-width: 770px) {
    .list-topics-content1 {
        padding: 20px 2rem;
        margin: 20px;
    }
    .single-list-topics-content1 {
        width: 300px;
        height: 110px;
    }
    .single-list-topics-icon1 img {
        width: 35%;
        height: 35%;
    }
}

@media only screen and (max-width: 426px) {
    .list-topics-content1 {
        padding: 10px 1rem;
        flex-direction: column;
        align-items: center;
    }
    .single-list-topics-content1 {
        width: 100%;
        height: 100%;
        padding: 5px;
        flex-direction: column;
        margin: 10px 0;
    }
    .single-list-topics-icon1 img {
        width: 15%;
    }
    .list-image {
        padding: 0;
    }
    .list-image img{
        height: 20rem;
    }
}